<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e40819bc-4008-4bc6-8cb8-e1e35cddb3ca/resourcegroups/RG_Diploma/providers/Microsoft.Web/sites/Diploma-serverless20190428072207</ResourceId>
    <ResourceGroup>RG_Diploma</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://diploma-serverless20190428072207.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>diploma-serverless20190428072207.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Diploma-serverless20190428072207</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Diploma-serverless20190428072207</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UsersServiceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:blaz-diploma-server.database.windows.net,1433;Initial Catalog=Diploma-serverless20190428072207_db;User ID=blazrupnik@blaz-diploma-server;Password=Fc-arsenal1" Name="Data Source=tcp:blaz-diploma-server.database.windows.net,1433;Initial Catalog=Diploma-serverless20190428072207_db;User Id=blazrupnik@blaz-diploma-server;Password=Fc-arsenal1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Diploma_serverless.Models.UsersServiceContext, Diploma-serverless" MigrationConfiguration="Diploma_serverless.Migrations.Configuration, Diploma-serverless" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UsersServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blaz-diploma-server.database.windows.net,1433;Initial Catalog=Diploma-serverless20190428072207_db;User Id=blazrupnik@blaz-diploma-server;Password=Fc-arsenal1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>